name: "CLA"

permissions:
  contents: read
  pull-requests: write
  actions: write
  statuses: write

on:
  workflow_dispatch:

jobs:
  CLA-Lite:
    name: "Signature"
    uses: rdkcentral/cmf-actions/.github/workflows/cla.yml@v1
    secrets:
      PERSONAL_ACCESS_TOKEN: ${{ secrets.CLA_ASSISTANT }}
